<h2>Add post</h2>
{{input post.title label="Title"}}
{{input post.preview type="textarea" label="Preview"}}
{{input post.content type="textarea" label="Content"}}
<button type="submit">Add post</button>