<h2>Hey, I'm Elte</h2>

<div class="node-body">
	<p>My full name is "Elte Hupkes" (that's right, no annoying second names to remember) and I was born february 6th, 1991. My interests include computer science, music, sports and some other things I can't currently think of. I currently live in Amsterdam.</p>

	<p>
		For the past 2,5 years I have studied Computer Science at the University of Amsterdam.
		I currently work as a (web) developer at <a target="_blank" href="http://www.srexpenses.com">SR//Expenses</a>.
		My skills in this area include:
	</p>
	<ul>
		<li>HTML</li>
		<li>CSS</li>
		<li>JavaScript (preferably wrapped by jQuery)</li>
		<li>Ember.js</li>
		<li>AJAX (yeah I know, a nice fashion term for everything else listed here, but it seems worth mentioning these days)</li>
		<li>PHP (mostly in combination with CakePHP)</li>
		<li>MySQL</li>
		<li>Python</li>
		<li>Java</li>
		<li>C</li>
		<li>Photoshop</li>
	</ul>

	<p>
		I'm also quite capable of managing Linux/FreeBSD servers with Apache.
	</p>

	<p>
		When I'm not working or doing general nerdy stuff I'm usually playing guitar, singing, playing football or running. Other activities include 'sleeping' and 'something involving beer'.
	</p>
</div>