<h1>Create user</h1>
	{{input User.name labelTranslation="user.name"}}
	{{input User.email labelTranslation="user.email" type="email"}}
	{{input User.password labelTranslation="user.password" type="password"}}
	{{input User.password_confirm labelTranslation="user.password_confirm" type="password"}}

	<button type="submit">Create</button>