<form {{action "createFirst" target="controller" on="submit"}}>
	{{input User.name labelTranslation="user.name"}}
	{{input User.email labelTranslation="user.email" type="email"}}
	{{input User.password labelTranslation="user.password" type="password"}}

	<button type="submit">Create</button>
</form>